<tr class="<%= cycle("bg-white", "bg-gray-50") %>">
  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
    <%= position.name %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
    <%= position.acronym %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
    <%= link_to "Edit", edit_group_position_url(@group, position), class: "text-indigo-600 hover:text-indigo-900" %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
    <%= link_to "Delete", group_position_url(@group, position), method: :delete, data: { confirm: "Do you wish to delete #{position.name}? This will also delete all staff positions associated with it!" }, class: "text-red-600 hover:text-red-900" %>
  </td>
</tr>
