<%= form_with model: group, local: true do |f| %>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Information
  </h3>
  <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
    Group names and acronyms must be unique. Webhooks will use your icon as the message avatar.
  </p>

  <%= render partial: "layouts/errors", locals: { record: group } %>

  <div class="mt-12">
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
      <%= f.label :name, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
          <%= f.text_field :name, class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <%= f.label :acronym, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <%# <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs"> %>
        <div class="max-w-lg sm:max-w-xs">
          <%= render partial: 'forms/text_input', locals: { f: f, record: group, key: :acronym } %>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
      <%= f.label :icon, class: "block text-sm font-medium leading-5 text-gray-700" %>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
          <%= f.file_field :icon, accept: "image/x-png,image/jpeg", direct_upload: true, class: "max-w-full py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
        </div>
      </div>
    </div>

  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <%= link_to "Cancel", groups_url, class: "py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
      </span>
      <% unless group.new_record? %>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <%= link_to "Delete Group", group_url(group), method: :delete, data: { confirm: "Are you sure you wish to delete this group? This action is irreversible." }, class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out" %>
        </span>
      <% end %>
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <%= f.submit group.new_record? ? "Create Group" : "Edit Group", class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
      </span>
    </div>
  </div>
<% end %>
