<%= content_for :body_class, "bg-gray-100" %>

<%= content_for :content do %>
  <div>
    <div class="bg-gray-800 pb-32">
      <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="border-b border-gray-700">
            <div class="flex items-center justify-between h-16 px-4 sm:px-0">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <div class="text-center text-lg font-extrabold leading-none tracking-tight">
                    <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">
                      <a href="<%= root_url %>">Deschtimes</a>
                    </h1>
                  </div>
                </div>

                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <%= link_to "Dashboard", groups_url, class: is_active?("groups", "shows", "episodes", "members", "staff") ? "px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" : "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

                    <%= link_to "Documentation", documentation_url, class: is_active?("documentation") ? "px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" : "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

                    <%= link_to "Donations", donations_url, class: is_active?("donations") ? "px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" : "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

                    <%= link_to "Edit Account", edit_user_registration_path, class: "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                  </div>
                </div>
              </div>

              <div class="-mr-2 flex md:hidden">
                <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white" id="mobile-menu-trigger">
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg id="mobile-menu-closed" class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg id="mobile-menu-open" class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden border-b border-gray-700 md:hidden" id="mobile-menu">
          <div class="px-2 py-3 space-y-1 sm:px-3">
            <%= link_to "Dashboard", groups_url, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

            <%= link_to "Documentation", documentation_url, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

            <%= link_to "Donations", donations_url, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

            <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>

            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
          </div>
        </div>
      </nav>

      <header class="py-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
         <%= render partial: "layouts/breadcrumbs" %>

          <div class="mt-2 md:flex md:items-center md:justify-between">
            <div class="flex-1 min-w-0">
              <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:leading-9 sm:truncate">
                <%= content_for :title %>
              </h2>
            </div>
            <%= content_for :page_actions %>
          </div>

          <noscript>
            <div class="rounded-md bg-red-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <h3 class="text-sm leading-5 font-medium text-red-800">
                    Deschtimes requires JavaScript
                  </h3>
                  <div class="mt-2 text-sm leading-5 text-red-700">
                    <ul class="list-disc pl-5">
                      <li>
                        We use JavaScript to increase website accessibility.
                      </li>
                      <li class="mt-1">
                        We use JavaScript to interact with our API through custom requests. Certain actions (like deleting an item) will not work without JavaScript.
                      </li>
                      <li class="mt-1">
                        We use JavaScript for form elements like the Date Picker so you don't have to translate a date into a specific format Deschtimes understands.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </noscript>
        </div>
      </header>
    </div>

    <main class="-mt-32">
      <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
          <% if flash[:alert] || flash[:notice] %>
            <div class="mb-4">
              <%= render partial: 'layouts/flash' %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </main>
  </div>
<% end %>
<%= render template: "layouts/base" %>
