<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Deschtimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23252f3f%22></rect><path fill=%22%23fff%22 d=%22M29.77 78.81L29.77 78.81L11.82 78.81L11.82 20.63L30.57 20.63Q39.03 20.63 45.06 24.11Q51.08 27.59 54.29 34.08Q57.50 40.57 57.50 49.60L57.50 49.60Q57.50 58.69 54.26 65.24Q51.02 71.79 44.83 75.30Q38.64 78.81 29.77 78.81ZM18.86 26.88L18.86 72.56L29.32 72.56Q36.53 72.56 41.28 69.77Q46.02 66.99 48.35 61.85Q50.68 56.70 50.68 49.60L50.68 49.60Q50.68 42.56 48.38 37.46Q46.08 32.36 41.51 29.62Q36.93 26.88 30.11 26.88L30.11 26.88L18.86 26.88ZM64.77 35.17L87.39 35.17L87.39 40.85L64.77 40.85L64.77 35.17ZM71.36 68.13L71.36 24.72L78.07 24.72L78.07 66.31Q78.07 69.15 78.91 70.55Q79.74 71.96 81.07 72.43Q82.39 72.90 83.86 72.90L83.86 72.90Q84.97 72.90 85.68 72.77Q86.39 72.64 86.82 72.56L86.82 72.56L88.18 78.58Q87.50 78.84 86.28 79.11Q85.06 79.38 83.18 79.38L83.18 79.38Q80.34 79.38 77.63 78.15Q74.91 76.93 73.14 74.43Q71.36 71.93 71.36 68.13L71.36 68.13Z%22></path></svg>" />
  </head>

  <body class="<%= content_for(:body_class) %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
